*{
	margin: 0;padding: 0;
	list-style: none;

}
body,html{
	width: 100%;
	height: 100%;
}

.header{
	width: 100%;
	height: 97px;
	background-color: #FFFFFF;
}

.header-center{
	width: 1200px;
	height: 97px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.logo{
	width:255px ;
	height:97px ;
	background-color:#FFFFFF ;
	float: left;

}

.logo img{
	width: 255px;
	height: 97px;
}

.header-nav{
	width: 945px;
	height: 97px;

	float: right;

}
.header-nav a{
	text-decoration: none;
	font-size: 30px;
	color: #9C9C9C;
	float: left;
	margin-left: 100px;
	margin-top: 30px;

}
.header-nav a:hover{
	color:#FB9A00 ;
}
.banner{
	width: 100%;
	height: 865px;
	background: url(../img/banner_bj_04.jpg) no-repeat center;
	margin: 0 auto;


}
.banner img{
	width: 100%;
	height: 865px;
	margin: 0 auto;
}
.banner-content{
	width: 1200px;
	height:865px;
	background-color: #FFFFFF;
	position: relative;
	margin: 0 auto;
	background: url(../img/banner_content_03.jpg) no-repeat center;

}
.banner-content h1{
	font-size:74px ;
	color:#fff ;
	text-align: center;
	display: inline-block;
	margin-top: 270px;
	margin-left: 260px;

}
.banner-content h4{
	width: 1007px;
	height: 97px;
	font-size:38px ;
	color:#9C9C9C ;
	text-indent: 1rem;
	display: inline-block;
	margin-top: 70px;
	margin-left: 165px;
	background-color: #fff;
	line-height: 90px;

}
.banner-content p{
	font-size:74px ;
	color:#fff ;
	text-align: center;
	display: inline-block;
	margin-top: 45px;
	margin-left: 260px;
}

/*call wo们 */
.content{
	width: 100%;
	height:65px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.content-title{
	width: 1200px;
	height: 65px;
	background-color: #FFFFFF;
	margin: 0 auto;
	font-size:48px ;
	color: #FB9B04;
	text-align: center;


}
.project-show{
	width: 100%;
	height:866px ;
	background-color:#7A7A7A;
	margin: 0 auto;
}
.project-show-content{
	width: 1200px;
	height: 865px;
	background-color:#7A7A7A;
	margin: 0 auto;

}

.project-show-content-center{
	width:1035px ;
	height:865px ;
	background-color:#7A7A7A ;
	margin: 0 auto;
}
.project-show-left{
	width: 354px;height: 354px;background-color: #7A7A7A;float: left;
	background: url(../img/show-1_03_03.png)no-repeat;
}
.project-show-left h1{
	font-size: 32px;
	text-align: center;
	display: inline-block;
	margin-top: 141px;
	margin-left: 82px;
	float: left;
	color: #FFFFFF;

}

.project-show-left-A{
	width: 354px;height: 354px;background-color: #7A7A7A;float: left;
	background: url(../img/show-1_03_03.png)no-repeat;margin-top: 50px;

}
.project-show-left-A h1{
	font-size: 32px;
	text-align: center;
	display: inline-block;
	margin-top: 141px;
	margin-left: 82px;
	float: left;
	color: #FFFFFF;

}




.project-show-right{
	width: 354px;height: 354px;float: right;
	background: url(../img/show-1_03_03.png)no-repeat;
}
.project-show-right h1{
	font-size: 32px;
	text-align: center;
	display: inline-block;
	margin-top: 141px;
	margin-right: 82px;
	float: right;
	color: #FFFFFF;

}


.project-logo{
	width:313px ;
	height:343px ;
	float: left;
	margin-top: 200px;
	background: url("../img/YCWl.png") no-repeat;
}

/*创*/
.project-logo h4{
	display: inline-block;
	float: left;
	margin-left: 139px;
	margin-top: 121px;
	font-size: 64px;
	color: #fff;
}

.project-logo:hover{
	transition: 0.5s;
	transform: rotate(360deg);
}
.project-show-right-w{
	width: 354px;height: 354px;background-color: red;float: right;
	background: url(../img/show-1_03_03.png)no-repeat;
	margin-right: 685px;
	margin-top: -348px;
}
.project-show-right-w h1{
	font-size: 32px;
	text-align: center;
	display: inline-block;
	margin-top: 141px;
	margin-right: 106px;
	float: right;
	color: #FFFFFF;

}
.project-show-content-center p{
	font-size: 32px;
	text-align: center;
	display: inline-block;
	margin-left: 122px;
	margin-top: 45px;
	font-size: ;
	color: #F8F8F8;
}
/*our opject*/
.news{
	width: 100%;
	height: 394px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.news-content{
	width: 1200px;
	height: 394px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.news-content-list{
	width: 1200px;
	height: 146px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.list-bx{
	width:350px ;
	height:139px ;
	background-color:#FFFFFF ;
	float: left;
	border:4px solid #9C9C9C ;
}
.list-bx:hover{
	transition: 0.5s;
	transform: rotateX(180deg);
}
.list-bx img{
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 50px;
}
.list-dh{
	width:350px ;
	height:139px ;
	background-color:#FFFFFF ;
	float: left;
	border:4px solid #9C9C9C ;
	margin-left: 44px;
}
.list-dh img{
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 37px;
}
.list-gh{
	width:350px ;
	height:139px ;
	background-color:#FFFFFF ;
	float: left;
	margin-left: 44px;
	border:4px solid #9C9C9C ;
}
.list-gh img{
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 32px;
}
/*wd*/
.news-content-list-wd{
	width: 1200px;
	height: 146px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 80px;
}
.list-wd{
	width:350px ;
	height:139px ;
	background-color:#FFFFFF;
	float: left;
	border:4px solid #9C9C9C ;
}
.list-wd img{
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 50px;
}
.list-tpy{
	width:350px ;
	height:139px ;
	background-color:#FFFFFF ;
	float: left;
	border:4px solid #9C9C9C ;
	margin-left: 44px;
}
.list-tpy img{
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 37px;
}
.list-gt{
	width:350px ;
	height:139px ;
	background-color:#FFFFFF ;
	float: left;
	margin-left: 44px;
	border:4px solid #9C9C9C ;
}
.list-gt img{
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 32px;
}
/*show*/
.foo_banner{
	width:100% ;
	height:800px ;
	background: url("../img/foo_banner_03.jpg") no-repeat;
}

.team-show{
	width: 1200px;
	height: 800px;

	margin: 0 auto;
}
.team-show-center{
	width: 1200px;
	height: 340px;

	margin: 0 auto;
}
.view{
	width:380px ;
	height: 340px;

	float: left;
}
.view{ width:378px; height:277px; overflow:hidden; position:relative; margin:10px; float:left;}
.hover{
	width:380px; background:rgba(0, 0 ,0 ,0.5); position:absolute; top:40px; left:0; text-align:center; color:#fff;

	transform:rotate(55deg);
	-moz-transform:rotate(55deg);
	-webkit-transform:rotate(55deg);

	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;

	overflow:hidden; height:0; z-index:4000;/*transform:translateX(200px);*/}/*写好样式，进行隐藏，用overflow:hidden; height:0;*/
.hover h3{color:#fff; border-bottom:2px solid rgba(255, 255 ,255, 0.5); padding-bottom:10px;}
.view:hover .hover{
	height:120px;

	transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
}
/*before   after为选择器，一般给选择器加动画背景，设置动画样式*/
.view:before{
	content:""; position:absolute; top:-240px; right:0;width:380px; height:380px; background:rgba( 150, 50, 100,0.5);

	transform:rotate(55deg) translateX(60px);
	-moz-transform:rotate(55deg) translateX(60px);
	-webkit-transform:rotate(55deg) translateX(60px);

	transform-origin:100% 0%;
	-moz-transform-origin:100% 0%;
	-webkit-transform-origin:100% 0%;

	transition:all 0.5s ease 0.3s;
	-moz-transition:all 0.5s ease 0.3s;
	-webkit-transition:all 0.5s ease 0.3s;

}/*写好样式，进行隐藏，用top:-240px;*/
.view:hover:before{ top:0;}
.view:after{
	content:""; position:absolute;bottom:-240px; left:0;width:360px; height:360px; background:rgba( 150, 50, 100,0.5);

	transform:rotate(55deg) translateX(-60px);
	-moz-transform:rotate(55deg) translateX(-60px);
	-webkit-transform:rotate(55deg) translateX(-60px);

	transform-origin:0% 100%;
	-moz-transform-origin:0% 100%;
	-webkit-transform-origin:0% 100%;

	transition:all 0.5s ease 0.3s;
	-moz-transition:all 0.5s ease 0.3s;
	-webkit-transition:all 0.5s ease 0.3s;
}
.view:hover:after{ bottom:0px;}


/*address*/
.address{
	width: 100%;
	height:865px;
	background-color:#FFFFFF ;
	margin: 0 auto;
}
.address-content{
	width: 1200px;
	height:865px ;
	background-color:#FFFFFF ;
	margin: 0 auto
;
}
.address-left{
	width:683px ;
	height:773px ;
	float: left;
	background:url("../img/kefu.png") no-repeat;
	opacity: 0.5;
	margin-top: 100px;

}

.address-left h1{
	display: inline-block;
	float: left;
	margin-top: 369px;
	text-align: center;
}
.address-left  img{
	width:627px ;
	height:773px ;
}
.footer-logo{
	width: 460px;
	height: 480px;
	background-color: #FFFFFF;
	background: url("../img/f.png") no-repeat;
	margin-top: -43px;

}
.erweima{
	width: 197px;
	height: 195px;
	background-color: red;
	float: left;
	margin-left: 28px;
}
.erweima img{
	width: 197px;
	height: 195px;
}




.erweima-js{
	width: 197px;
	height: 195px;
	background-color: #FFFFFF;
	float: left;
	margin-left: 64px;
}
.erweima-js img{
	width: 197px;
	height: 195px;

}
.address-right{
	width:517px ;
	height:765px ;
	float: right;
background-color: #FFFFFF;
	margin-top: 100px;

}

.address-right h1{
	text-align: center;
	font-size: 48px;
	color: #FCAB2B;
}
.address-right p{
	text-align: center;
	font-size: 24px;
	color: #FCAB2B;
	line-height: 68px;
}
.address-right h5{
	text-align: center;
	font-size: 24px;
	color: #FCAB2B;
	line-height: 68px;
}
.address-right h4{
	text-align: center;
	font-size: 24px;
	color: #FCAB2B;
	line-height: 68px;
}
.address-right h3{
	text-align: center;
	font-size: 24px;
	color: #FCAB2B;
	line-height: 68px;
}
.address-right h6{
	text-align: center;
	font-size: 24px;
	color: #FCAB2B;
	line-height: 68px;
}
/*侧栏客服*/
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/* side */
.side{position:fixed;width:54px;height:275px;right:0;top:214px;z-index:100;}
.side ul li{width:54px;height:54px;float:left;position:relative;border-bottom:1px solid #444;}
.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#000;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#000;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
.side ul li .sidetop:hover{background:#ae1c1c;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}